{% if ERROR %}<div class="alert alert-danger">{ERROR}</div>{% endif %}

{% if S_SHOW_TOPIC_ICONS or S_SHOW_PM_ICONS %}
<div class="form-group">
	<label for="icon">{{ lang('ICON') }}{{ lang('COLON') }}</label>
	
	<label class="radio-inline">
		<input type="radio" name="icon" id="icon" value="0" checked="checked" tabindex="1"> 
		{% if S_SHOW_TOPIC_ICONS %}{{ lang('NO_TOPIC_ICON') }}{% else %}{{ lang('NO_PM_ICON') }}{% endif %}
	</label>
	{% for topic_icon in loops.topic_icon %}
	<label class="radio-inline">
		<input type="radio" name="icon" id="icon-{topic_icon.ICON_ID}" value="{topic_icon.ICON_ID}" {topic_icon.S_ICON_CHECKED} tabindex="1">
		<img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="">
	</label>
	{% endfor %}
</div>
{% endif %}

{% if not S_PRIVMSGS and S_DISPLAY_USERNAME %}
<div class="form-group">
	<label for="username">{{ lang('USERNAME') }}{{ lang('COLON') }}</label>
	<input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="form-control">
</div>
{% endif %}

{% EVENT posting_editor_subject_before %}

{% if S_POST_ACTION or S_PRIVMSGS or S_EDIT_DRAFT %}
<div class="form-group">
	<label for="subject">{{ lang('SUBJECT') }}{{ lang('COLON') }}</label>
	<input type="text" name="subject" id="subject" size="45" maxlength="{% if S_NEW_MESSAGE %}120{% else %}124{% endif %}" tabindex="2" value="{SUBJECT}{DRAFT_SUBJECT}" class="form-control">
</div>
	{% if CAPTCHA_TEMPLATE and S_CONFIRM_CODE %}
	<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
	<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	{% endif %}
{% endif %}

<!-- EVENT posting_editor_subject_after -->

<!-- INCLUDE posting_buttons.html -->

<div class="row top-buffer">
	<div class="col-md-9">
		{% EVENT posting_editor_message_before %}

		<div id="message-box">
			<textarea {% if S_UCP_ACTION and not S_PRIVMSGS and not S_EDIT_DRAFT %}name="signature" id="signature" style="height: 9em;"{% else %}name="message" id="message"{% endif %} rows="15" cols="60" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="form-control">{MESSAGE}{DRAFT_MESSAGE}{SIGNATURE}</textarea>
		</div>

		{% EVENT posting_editor_message_after %}
	</div>
	<div class="col-md-3" id="smiley-box">
		{% EVENT posting_editor_smilies_before %}
		<!-- IF S_SMILIES_ALLOWED and .smiley -->
			<strong>{{ lang('SMILIES') }}</strong><br />
			<!-- BEGIN smiley -->
				<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
			<!-- END smiley -->
		<!-- ENDIF -->
		<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED -->
			<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 750, 350, '_phpbbsmilies'); return false;">{{ lang('MORE_SMILIES') }}</a>
		<!-- ENDIF -->
		<!-- EVENT posting_editor_smilies_after -->
		<!-- IF BBCODE_STATUS -->
		<div class="bbcode-status">
			<!-- IF .smiley --><hr /><!-- ENDIF -->
			{BBCODE_STATUS}<br />
			<!-- IF S_BBCODE_ALLOWED -->
				{IMG_STATUS}<br />
				{FLASH_STATUS}<br />
				{URL_STATUS}<br />
			<!-- ENDIF -->
			{SMILIES_STATUS}
		</div>
		<!-- ENDIF -->
		<!-- EVENT posting_editor_bbcode_status_after -->
		<!-- IF S_EDIT_DRAFT || S_DISPLAY_REVIEW -->
			<!-- IF S_DISPLAY_REVIEW --><hr /><!-- ENDIF -->
			<!-- IF S_EDIT_DRAFT --><strong><a href="{S_UCP_ACTION}">{{ lang('BACK_TO_DRAFTS') }}</a></strong><!-- ENDIF -->
			<!-- IF S_DISPLAY_REVIEW --><strong><a href="#review">{{ lang('TOPIC_REVIEW') }}</a></strong><!-- ENDIF -->
		<!-- ENDIF -->
	</div>
</div>


<!-- IF $EXTRA_POSTING_OPTIONS eq 1 -->

<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
<div class="top-buffer">
	{{ S_HIDDEN_ADDRESS_FIELD }}
	{{ S_HIDDEN_FIELDS }}
	{% if S_HAS_DRAFTS %}<input type="submit" accesskey="d" tabindex="8" name="load" value="{{ lang('LOAD_DRAFT') }}" class="btn btn-success" onclick="load_draft = true;">&nbsp; {% endif %}
	{% if S_SAVE_ALLOWED %}<input type="submit" accesskey="k" tabindex="7" name="save" value="{{ lang('SAVE_DRAFT') }}" class="btn btn-success">&nbsp; {% endif %}
	<input type="submit" tabindex="5" name="preview" value="{{ lang('PREVIEW') }}" class="btn btn-default"{% if not S_PRIVMSGS %} onclick="document.getElementById('postform').action += '#preview';"{% endif %}>&nbsp;
	<input type="submit" accesskey="s" tabindex="6" name="post" value="{{ lang('SUBMIT') }}" class="btn btn-success default-submit-action">&nbsp;
</div>
<!-- ENDIF -->

<!-- IF not S_PRIVMSGS and not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
	<div id="tabs" class="sub-panels" data-show-panel="{% if SHOW_PANEL %}{SHOW_PANEL}{% else %}options-panel{% endif %}" role="tablist">
		<ul>
			<li id="options-panel-tab" class="tab activetab"><a href="#tabs" data-subpanel="options-panel" role="tab" aria-controls="options-panel"><span>{{ lang('OPTIONS') }}</span></a></li>
			<!-- IF S_SHOW_ATTACH_BOX -->
				<li id="attach-panel-tab" class="tab">
					<a href="#tabs" data-subpanel="attach-panel" role="tab" aria-controls="attach-panel">
						{{ lang('ATTACHMENTS') }} <strong id="file-total-progress"><strong id="file-total-progress-bar"></strong></strong>
					</a>
				</li>
			<!-- ENDIF -->
			<!-- IF S_SHOW_POLL_BOX || S_POLL_DELETE -->
				<li id="poll-panel-tab" class="tab">
					<a href="#tabs" data-subpanel="poll-panel" role="tab" aria-controls="poll-panel">{{ lang('ADD_POLL') }}</a>
				</li>
			<!-- ENDIF -->
		</ul>
	</div>
<!-- ENDIF -->

<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
<div class="panel panel-default top-buffer" id="options-panel">
	<div class="panel-body">
		<!-- EVENT posting_editor_options_prepend -->
		{% if S_BBCODE_ALLOWED %}
		<div class="checkbox"><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode"{{ S_BBCODE_CHECKED }}> {{ lang('DISABLE_BBCODE') }}</label></div>
		{% endif %}
		{% if S_SMILIES_ALLOWED %}
		<div class="checkbox"><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies"{{ S_SMILIES_CHECKED }}> {{ lang('DISABLE_SMILIES') }}</label></div>
		{% endif %}
		{% if S_LINKS_ALLOWED %}
		<div class="checkbox"><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url"{{ S_MAGIC_URL_CHECKED }}> {{ lang('DISABLE_MAGIC_URL') }}</label></div>
		{% endif %}
		{% if S_SIG_ALLOWED %}
		<div class="checkbox"><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig"{{ S_SIGNATURE_CHECKED }}> {{ lang('ATTACH_SIG') }}</label></div>
		{% endif %}
		{% if S_NOTIFY_ALLOWED %}
		<div class="checkbox"><label for="notify"><input type="checkbox" name="notify" id="notify"{{ S_NOTIFY_CHECKED }}> {{ lang('NOTIFY_REPLY') }}</label></div>
		{% endif %}
		{% if S_LOCK_TOPIC_ALLOWED %}
		<div class="checkbox"><label for="lock_topic"><input type="checkbox" name="lock_topic" id="lock_topic"{{ S_LOCK_TOPIC_CHECKED }}> {{ lang('LOCK_TOPIC') }}</label></div>
		{% endif %}
		{% if S_LOCK_POST_ALLOWED %}
		<div class="checkbox"><label for="lock_post"><input type="checkbox" name="lock_post" id="lock_post"{{ S_LOCK_POST_CHECKED }}> {{ lang('LOCK_POST') }} [{{ lang('LOCK_POST_EXPLAIN') }}]</label></div>
		{% endif %}

		<!-- IF S_TYPE_TOGGLE or S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY -->
		<hr class="dashed" />
		<!-- ENDIF -->

		<!-- IF S_TYPE_TOGGLE -->
		<dl>
			<dt><label for="topic_type-0"><!-- IF S_EDIT_POST -->{{ lang('CHANGE_TOPIC_TO') }}<!-- ELSE -->{{ lang('POST_TOPIC_AS') }}<!-- ENDIF -->{{ lang('COLON') }}</label></dt>
			<dd><!-- BEGIN topic_type --><label for="topic_type-{topic_type.VALUE}"><input type="radio" name="topic_type" id="topic_type-{topic_type.VALUE}" value="{topic_type.VALUE}"{topic_type.S_CHECKED} />{topic_type.L_TOPIC_TYPE}</label> <!-- END topic_type --></dd>
		</dl>
		<!-- ENDIF -->

		<!-- IF S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY -->
		<dl>
			<dt><label for="topic_time_limit">{{ lang('STICK_TOPIC_FOR') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="topic_time_limit"><input type="number" min="0" max="999" name="topic_time_limit" id="topic_time_limit" size="3" maxlength="3" value="{TOPIC_TIME_LIMIT}" class="inputbox autowidth" /> {{ lang('DAYS') }}</label></dd>
			<dd>{{ lang('STICK_TOPIC_FOR_EXPLAIN') }}</dd>
		</dl>
		<!-- ENDIF -->

		<!-- IF S_SOFTDELETE_ALLOWED or S_DELETE_ALLOWED -->
			<hr class="dashed" />
			<dl>
				<dt><label for="delete">{{ lang('DELETE_POST') }}{{ lang('COLON') }}</label></dt>
				<dd><label for="delete"><input type="checkbox" name="delete" id="delete" {S_SOFTDELETE_CHECKED} /> {{ lang('DELETE_POST_WARN') }}</label></dd>
				<!-- IF S_DELETE_ALLOWED and S_SOFTDELETE_ALLOWED -->
					<dd><label for="delete_permanent"><input type="checkbox" name="delete_permanent" id="delete_permanent" /> {{ lang('DELETE_POST_PERMANENTLY') }}</label></dd>
				<!-- ENDIF -->
			</dl>
		<!-- ENDIF -->

		<!-- IF S_EDIT_REASON -->
		<dl>
			<dt><label for="edit_reason">{{ lang('EDIT_REASON') }}{{ lang('COLON') }}</label></dt>
			<dd><input type="text" name="edit_reason" id="edit_reason" value="{EDIT_REASON}" class="inputbox" /></dd>
		</dl>
		<!-- ENDIF -->
	<!-- ENDIF -->

<!-- ENDIF -->
