{% if S_TYPE == 1 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="captcha-title">{L_CONFIRMATION}</h3>
    </div>
    <div class="panel-body">
        <p class="help-block">{L_CONFIRM_EXPLAIN}</p>
{% endif %}
        <div class="form-control">
            <label for="confirm_code">{L_CONFIRM_CODE}{L_COLON}</label>
            <div class="captcha captcha-image"><img src="{CONFIRM_IMAGE_LINK}" alt="{L_CONFIRM_CODE}"></div>
            <input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="{$CAPTCHA_TAB_INDEX}" class="form-control" title="{L_CONFIRM_CODE}">
            {% if S_CONFIRM_REFRESH %}
            <input type="submit" name="refresh_vc" id="refresh_vc" class="btn btn-default" value="{L_VC_REFRESH}">
            {% endif %}
            <input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}">
            <p class="help-block">{L_CONFIRM_CODE_EXPLAIN}</p>
        </div>
{% if S_TYPE == 1 %}
    </div>
</div>
{% endif %}
