{% extends S_AJAX_REQUEST ? "layout_ajax.html" : "layout_main.html" %}

{% block ajax %}
	<form action="{S_CONFIRM_ACTION}" method="post">
		<p>{MESSAGE_TEXT}</p>

		{% if not S_SHADOW_TOPICS %}
			{% if not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE %}
				<label>
					<strong>{L_DELETE_PERMANENTLY}{L_COLON}</strong>
					<input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {S_CHECKED_PERMANENT}>
					{% if S_TOPIC_MODE %}{L_DELETE_TOPIC_PERMANENTLY}{% else %}{L_DELETE_POST_PERMANENTLY}{% endif %}
				</label>
			{% endif %}

			<label for="delete_reason">
				<strong>{L_DELETE_REASON}{L_COLON}</strong><br><span>{L_DELETE_REASON_EXPLAIN}</span><br>
				<input type="text" name="delete_reason" value="" class="inputbox autowidth" maxlength="120" size="45">
			</label>
		{% endif %}

		<fieldset class="submit-buttons">
			<input type="button" name="confirm" value="{L_YES}" class="btn btn-primary">&nbsp;
			<input type="button" name="cancel" value="{L_NO}" class="btn btn-default">
		</fieldset>
	</form>
{% endblock %}
{% block content %}
<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<div class="panel panel-danger">
	<div class="panel-heading">{MESSAGE_TITLE}</div>
	
	<div class="panel-body">
		<p>{MESSAGE_TEXT}</p>

		{% if not S_SHADOW_TOPICS %}
		<fieldset class="fields1">
			{% if not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE %}
				<label for="delete_permanent">{L_DELETE_PERMANENTLY}{L_COLON}</label>
				<input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {S_CHECKED_PERMANENT}>
				{% if S_TOPIC_MODE %}{L_DELETE_TOPIC_PERMANENTLY}{% else %}{L_DELETE_POST_PERMANENTLY}{% endif %}
			{% endif %}

			<label for="delete_reason">{L_DELETE_REASON}{L_COLON}</label>
			<input type="text" name="delete_reason" id="delete_reason" value="" maxlength="120" size="45" class="form-control">
			<p class="help-block">{L_DELETE_REASON_EXPLAIN}</p>
		</fieldset>
		{% endif %}

		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}
			<input type="submit" name="confirm" value="{L_YES}" class="btn btn-primary">&nbsp; 
			<input type="submit" name="cancel" value="{L_NO}" class="btn btn-default">
		</fieldset>
	</div>
</div>
</form>
{% endblock %}