{% extends S_AJAX_REQUEST ? "layout_ajax.html" : "layout_main.html" %}

{% block ajax %}
	<form action="{S_CONFIRM_ACTION}" method="post">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close alert_close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">{MESSAGE_TITLE}</h3>
			</div>
			<div class="modal-body">
				<p>{MESSAGE_TEXT}</p>
			</div>

			<div class="modal-footer">
				<fieldset class="submit-buttons">
					<input type="button" name="confirm" value="{{ lang('YES') }}" class="btn btn-success">&nbsp;
					<input type="button" name="cancel" value="{{ lang('NO') }}" class="btn btn-warning">
				</fieldset>
			</div>
		</div>
	</form>
{% endblock %}

{% block content %}
<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<div class="panel panel-warning">
	<div class="panel-heading">{MESSAGE_TITLE}</div>
	<div class="panel-body">
		<p>{MESSAGE_TEXT}</p>

		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}
			<input type="submit" name="confirm" value="{{ lang('YES') }}" class="btn btn-primary">&nbsp;
			<input type="submit" name="cancel" value="{{ lang('NO') }}" class="btn btn-default">
		</fieldset>
	</div>
</div>
</form>
{% endblock %}
