
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->

			</div>
		</div>
	<!-- ENDIF -->

	<!-- EVENT forumlist_body_category_header_before -->
	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<!-- EVENT forumlist_body_category_header_row_prepend -->
					<!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF -->
				<!-- EVENT forumlist_body_category_header_row_append -->
			</div>
			<div class="panel-body forums">
	<!-- ENDIF -->
	<!-- EVENT forumlist_body_category_header_after -->

	<!-- IF not forumrow.S_IS_CAT -->
		<!-- EVENT forumlist_body_forum_row_before -->
		<div class="row icon {{ forumrow.FORUM_IMG_STYLE }}" title="{forumrow.FORUM_FOLDER_IMG_ALT}">
			<!-- EVENT forumlist_body_forum_row_prepend -->
				{% if forumrow.S_UNREAD_FORUM %}<a href="{forumrow.U_VIEWFORUM}" class="icon-link"></a>{% endif %}
				<div class="col-md-6">
					{% if S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED %}
						<!-- <a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}" /></a> -->
					{% endif %}

					{% if forumrow.FORUM_IMAGE %}<span class="forum-image">{{ forumrow.FORUM_IMAGE }}</span>{% endif %}
					<a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{{ forumrow.FORUM_NAME }}</a>
					{% if forumrow.FORUM_DESC %}<br>{forumrow.FORUM_DESC}{% endif %}
					<!-- IF forumrow.MODERATORS -->
						<br><strong>{forumrow.L_MODERATOR_STR}{{ lang('COLON') }}</strong> {forumrow.MODERATORS}
					<!-- ENDIF -->
					<!-- IF .forumrow.subforum and forumrow.S_LIST_SUBFORUMS -->
						<!-- EVENT forumlist_body_subforums_before -->
						<br><strong>{forumrow.L_SUBFORUM_STR}{{ lang('COLON') }}</strong>
						<!-- BEGIN subforum -->
							<a href="{{ forumrow.subforum.U_SUBFORUM }}" class="subforum{% if forumrow.subforum.S_UNREAD %} unread{% else %} read{% endif %}"
								title="{% if forumrow.subforum.S_UNREAD %}{{ lang('UNREAD_POSTS') }}{% else %}{{ lang('NO_UNREAD_POSTS') }}{% endif %}">
								{forumrow.subforum.SUBFORUM_NAME}
							</a>
							{% if not forumrow.subforum.S_LAST_ROW %}{{ lang('COMMA_SEPARATOR') }}{% endif %}
						<!-- END subforum -->
						<!-- EVENT forumlist_body_subforums_after -->
					<!-- ENDIF -->

					<!-- IF not S_IS_BOT -->
					<div class="responsive-show" style="display: none;">
						<!-- IF forumrow.CLICKS -->
							{L_REDIRECTS}{{ lang('COLON') }} <strong>{forumrow.CLICKS}</strong>
						<!-- ELSEIF not forumrow.S_IS_LINK and forumrow.TOPICS -->
							{L_TOPICS}{{ lang('COLON') }} <strong>{forumrow.TOPICS}</strong>
						<!-- ENDIF -->
					</div>
					<!-- ENDIF -->
				</div>
			<!-- IF forumrow.CLICKS -->
				<div class="col-md-6">
					<div class="redirects">{{ lang('REDIRECTS') }}{{ lang('COLON') }} {{ forumrow.CLICKS }}</div>
				</div>
			<!-- ELSEIF not forumrow.S_IS_LINK -->
				<div class="col-md-2">
					<div class="topics">{{ lang('TOPICS') }}{{ lang('COLON') }} {{ forumrow.TOPICS }}</div>
					<div class="posts">{{ lang('POSTS') }}{{ lang('COLON') }} {{ forumrow.POSTS }}</div>
				</div>
				<div class="col-md-4">
					<div class="lastpost">
						<span>
							<!-- IF forumrow.U_UNAPPROVED_TOPICS -->
								<a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a>
							<!-- ELSEIF forumrow.U_UNAPPROVED_POSTS -->
								<a href="{forumrow.U_UNAPPROVED_POSTS}">{UNAPPROVED_POST_IMG}</a>
							<!-- ENDIF -->
							<!-- IF forumrow.LAST_POST_TIME -->{L_LAST_POST}
							<!-- IF forumrow.S_DISPLAY_SUBJECT -->
								<!-- EVENT forumlist_body_last_post_title_prepend -->
								<a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">{forumrow.LAST_POST_SUBJECT_TRUNCATED}</a> <br>
							<!-- ENDIF --> 
							{{ lang('POST_BY_AUTHOR') }} {{ forumrow.LAST_POSTER_FULL }}
							{% if not S_IS_BOT %}
								<a href="{{ forumrow.U_LAST_POST }}">{{ LAST_POST_IMG }}</a> {% endif %}<br>{{ forumrow.LAST_POST_TIME }}
							{% else %}
								{L_NO_POSTS}<br>&nbsp;
							{% endif %}
						</span>
					</div>
				</div>
			<!-- ENDIF -->
			<!-- EVENT forumlist_body_forum_row_append -->
		</div>
		<!-- EVENT forumlist_body_forum_row_after -->
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->

			</div>
		</div>
	<!-- EVENT forumlist_body_last_row_after -->
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel panel-default">
		<div class="panel-body">
		<strong>{L_NO_FORUMS}</strong>
		</div>
	</div>
<!-- END forumrow -->
