<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="distribution" content="global">
	{{ META }}

	<title>{% if UNREAD_NOTIFICATIONS_COUNT %}({UNREAD_NOTIFICATIONS_COUNT}) {% endif %}{% if not S_VIEWTOPIC and not S_VIEWFORUM %}{SITENAME} - {% endif %}{% if S_IN_MCP %}{{ lang('MCP') }} - {% elseif S_IN_UCP %}{{ lang('UCP') }} - {% endif %}{PAGE_TITLE}{% if S_VIEWTOPIC or S_VIEWFORUM %} - {{ SITENAME }}{% endif %}</title>

	{% if S_ENABLE_FEEDS %}
		{% if S_ENABLE_FEEDS_OVERALL %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {SITENAME}" href="{U_FEED}">{% endif %}
		{% if S_ENABLE_FEEDS_NEWS %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('FEED_NEWS') }}" href="{U_FEED}?mode=news">{% endif %}
		{% if S_ENABLE_FEEDS_FORUMS %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('ALL_FORUMS') }}" href="{U_FEED}?mode=forums">{% endif %}
		{% if S_ENABLE_FEEDS_TOPICS %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('FEED_TOPICS_NEW') }}" href="{U_FEED}?mode=topics">{% endif %}
		{% if S_ENABLE_FEEDS_TOPICS_ACTIVE %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('FEED_TOPICS_ACTIVE') }}" href="{U_FEED}?mode=topics_active">{% endif %}
		{% if S_ENABLE_FEEDS_FORUM and S_FORUM_ID %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('FORUM') }} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}">{% endif %}
		{% if S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('TOPIC') }} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}">{% endif %}
	{% endif %}
	{% if U_CANONICAL %}
	<link rel="canonical" href="{{ U_CANONICAL }}">
	{% endif %}
	{% if S_ALLOW_CDN %}
	<script>
		WebFontConfig = {
			google: {
				families: ['Open Sans:n6']
			}
		};

		(function (d) {
			var wf = d.createElement('script'), s = d.scripts[0];
			wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore(wf, s);
		})(document);
	</script>
	{% endif %}

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/js/theme.js"></script>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="{{ T_STYLESHEET_LINK }}" rel="stylesheet">
	{% if S_PLUPLOAD %}
	<link href="{T_THEME_PATH}/plupload.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
	{% endif %}
	{% EVENT overall_header_head_append %}
	{$STYLESHEETS}
	{% EVENT overall_header_stylesheets_after %}
{% endblock %}
</head>

<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {BODY_CLASS}">
<div class="skiplink"><a href="#start_here">{{ lang('SKIP') }}</a></div>
{% EVENT overall_header_body_before %}

<div id="wrap" class="container">
	<a id="top" class="anchor" accesskey="t"></a>

	<div id="page-header">
		<div class="row">
			<div id="site-description" class="col-md-8">
				<h1>
					<a href="{% if U_SITE_HOME %}{{ U_SITE_HOME }}{% else %}{{ U_INDEX }}{% endif %}" title="{% if U_SITE_HOME %}{{ lang('SITE_HOME') }}{% else %}{{ lang('INDEX') }}{% endif %}">{{ SITENAME }}</a>
				</h1>
				<p>{{ SITE_DESCRIPTION }}</p>
			</div>

			<div class="col-md-4 search-header" id="search-box" role="search">
				{% EVENT overall_header_searchbox_before %}
				{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
				<form action="{{ U_SEARCH }}" method="get" id="search">
					<fieldset>
						<div class="input-group">
							<input
								name="keywords" id="keywords" type="search" maxlength="128" title="{{ lang('SEARCH_KEYWORDS') }}"
								class="form-control" size="20" value="{{ SEARCH_WORDS }}" placeholder="{{ lang('SEARCH_MINI') }}">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit" title="{{ lang('SEARCH') }}">{{ lang('SEARCH') }}</button>
							</span>
						</div>
						<a href="{{ U_SEARCH }}" class="icon-button search-adv-icon" title="{{ lang('SEARCH_ADV') }}">{{ lang('SEARCH_ADV') }}</a>
						{{ S_SEARCH_HIDDEN_FIELDS }}
					</fieldset>
				</form>
				{% endif %}
			</div>
		</div>

		{% EVENT overall_header_navbar_before %}

		<div class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main-container" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="nav-main-container">

					<ul id="nav-main" class="nav navbar-nav navbar-left" role="menubar">
						<!-- EVENT overall_header_navigation_prepend -->

						{% include "includes/menu_quicklinks.html" %}

						<li class="small-icon icon-faq" {% if not S_USER_LOGGED_IN %}data-skip-responsive="true"{% else %}data-last-responsive="true"{% endif %}><a href="{U_FAQ}" rel="help" title="{{ lang('FAQ_EXPLAIN') }}" role="menuitem">{{ lang('FAQ') }}</a></li>

						<!-- EVENT overall_header_navigation_append -->

						{% if U_ACP %}
							<li class="small-icon icon-acp"><a href="{U_ACP}" title="{{ lang('ACP') }}" role="menuitem">{{ lang('ACP_SHORT') }}</a></li>
						{% endif %}
						{% if U_MCP %}
							<li class="small-icon icon-mcp"><a href="{U_MCP}" title="{{ lang('MCP') }}" role="menuitem">{{ lang('MCP_SHORT') }}</a></li>
						{% endif %}
					</ul>

					<ul class="nav navbar-nav navbar-right">
						{% include "includes/menu_userlinks.html" %}
					</ul>
				</div>
			</div>
		</div>

		{% set ol_microdata = 'itemscope itemtype="http://schema.org/BreadcrumbList"' %}
		{% set li_microdata = 'itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"' %}
		{% set a_microdata = 'itemprop="item"' %}
		{% set span_microdata = 'itemprop="name"' %}

		<ol class="breadcrumb" role="menubar"{{ ol_microdata }}>
			<!-- EVENT overall_header_breadcrumbs_before -->

			{% if U_SITE_HOME %}
				<li class="small-icon icon-home" {{ li_microdata }}>
					<a href="{U_SITE_HOME}" {{ a_microdata }}>
						<span {{ span_microdata }}>{{ lang('SITE_HOME') }}</span>
					</a>
				</li>
			{% endif %}

			<!-- EVENT overall_header_breadcrumb_prepend -->
			<li {{ li_microdata }}>
				<a href="{U_INDEX}" accesskey="h" {{ a_microdata }}>
					<span {{ span_microdata }}>{{ lang('INDEX') }}</span>
				</a>
			</li>
			<!-- BEGIN navlinks -->
			<li {{ li_microdata }}>
				<!-- EVENT overall_header_navlink_prepend -->
				<a href="{navlinks.U_VIEW_FORUM}" {{ a_microdata }}>
					<span {{ span_microdata }}>{navlinks.FORUM_NAME}</span>
				</a>
				<!-- EVENT overall_header_navlink_append -->
			</li>
			<!-- END navlinks -->

			{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
			<li {{ li_microdata }}>
				<a href="{U_SEARCH}" title="{{ lang('SEARCH_ADV_EXPLAIN') }}" {{ a_microdata }}>
					<span {{ span_microdata }}>{{ lang('SEARCH') }}
				</a>
			</li>
			{% endif %}

			<!-- EVENT overall_header_breadcrumb_append -->
		</ol>
		<!-- EVENT overall_header_breadcrumbs_after -->
	</div>

	{% EVENT overall_header_page_body_before %}

	<a id="start_here" class="anchor"></a>
	<div id="page-body" role="main">
		{% if S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) %}
		<div id="information" class="panel panel-warning">
			<div class="panel-heading">
				NOTICE
			</div>
			<div class="panel-body">
				{{ lang('BOARD_DISABLED') }}
			</div>
		</div>
		{% endif %}

		{% EVENT overall_header_content_before %}

		{% block content %}
		<div class="panel panel-alert">
			<div class="panel-heading">
				Uh oh!
			</div>
			<div class="panel-body">
				There appears to be no content on this page!
			</div>
		</div>
		{% endblock %}

		{% EVENT overall_footer_content_after %}
	</div><!-- end #page-body -->
</div><!-- end #wrap -->

{% EVENT overall_footer_page_body_after %}

<footer class="container" id="page-footer">
	<div class="navbar" role="navigation">
		<ul id="nav-footer" class="list-inline" role="menubar">
			<li class="small-icon icon-home breadcrumbs">
				{% if U_SITE_HOME %}<span class="crumb"><a href="{U_SITE_HOME}" data-navbar-reference="home">{{ lang('SITE_HOME') }}</a></span>{% endif %}
				<!-- EVENT overall_footer_breadcrumb_prepend -->
				<span class="crumb"><a href="{U_INDEX}" data-navbar-reference="index">{{ lang('INDEX') }}</a></span>
				<!-- EVENT overall_footer_breadcrumb_append -->
			</li>
			{% if U_WATCH_FORUM_LINK and not S_IS_BOT %}
				<li class="small-icon icon-{% if S_WATCHING_FORUM %}unsubscribe{% else %}subscribe{% endif %}" data-last-responsive="true"><a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" data-ajax="toggle_link" data-toggle-class="small-icon icon-{% if not S_WATCHING_FORUM %}unsubscribe{% else %}subscribe{% endif %}" data-toggle-text="{S_WATCH_FORUM_TOGGLE}" data-toggle-url="{U_WATCH_FORUM_TOGGLE}">{S_WATCH_FORUM_TITLE}</a></li>
			{% endif %}

			<!-- EVENT overall_footer_timezone_before -->
			<li class="rightside">{S_TIMEZONE}</li>
			<!-- EVENT overall_footer_timezone_after -->
			<!-- IF not S_IS_BOT -->
				<li class="small-icon icon-delete-cookies rightside"><a href="{U_DELETE_COOKIES}" data-ajax="true" data-refresh="true" role="menuitem">{{ lang('DELETE_COOKIES') }}</a></li>
				<!-- IF S_DISPLAY_MEMBERLIST --><li class="small-icon icon-members rightside" data-last-responsive="true"><a href="{U_MEMBERLIST}" title="{{ lang('MEMBERLIST_EXPLAIN') }}" role="menuitem">{{ lang('MEMBERLIST') }}</a></li><!-- ENDIF -->
			<!-- ENDIF -->
			<!-- EVENT overall_footer_teamlink_before -->
			<!-- IF U_TEAM --><li class="small-icon icon-team rightside" data-last-responsive="true"><a href="{U_TEAM}" role="menuitem">{{ lang('THE_TEAM') }}</a></li><!-- ENDIF -->
			<!-- EVENT overall_footer_teamlink_after -->
			<!-- IF U_CONTACT_US --><li class="small-icon icon-contact rightside" data-last-responsive="true"><a href="{U_CONTACT_US}" role="menuitem">{{ lang('CONTACT_US') }}</a></li><!-- ENDIF -->
		</ul>
	</div>

	<div class="copyright">
		{% EVENT overall_footer_copyright_prepend %}
		{CREDIT_LINE}
		{% if TRANSLATION_INFO %}<br>{TRANSLATION_INFO}{% endif %}

		{% EVENT overall_footer_copyright_append %}

		{% if DEBUG_OUTPUT %}<br>{DEBUG_OUTPUT}{% endif %}
		{% if U_ACP %}<br><strong><a href="{U_ACP}">{{ lang('ACP') }}</a></strong>{% endif %}
	</div>

	<div id="darkenwrapper" data-ajax-error-title="{{ lang('AJAX_ERROR_TITLE') }}" data-ajax-error-text="{{ lang('AJAX_ERROR_TEXT') }}" data-ajax-error-text-abort="{{ lang('AJAX_ERROR_TEXT_ABORT') }}" data-ajax-error-text-timeout="{{ lang('AJAX_ERROR_TEXT_TIMEOUT') }}" data-ajax-error-text-parsererror="{{ lang('AJAX_ERROR_TEXT_PARSERERROR') }}">
		<div id="darken">&nbsp;</div>
	</div>

	<div id="phpbb_alert" class="modal-dialog" data-l-err="{{ lang('ERROR') }}" data-l-timeout-processing-req="{{ lang('TIMEOUT_PROCESSING_REQ') }}">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="alert_close"></a>
				<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
			</div>
		</div>
	</div>
	<div id="phpbb_confirm" class="modal-dialog">
		<div class="modal-content">
			<a href="#" class="alert_close"></a>
			<div class="alert_text"></div>
		</div>
	</div>
</footer>

<div>
	<a id="bottom" class="anchor" accesskey="z"></a>
	{% if not S_IS_BOT %}{RUN_CRON_TASK}{% endif %}
</div>

<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- INCLUDEJS js/forum_fn.js -->
<!-- INCLUDEJS js/ajax.js -->

{% EVENT overall_footer_after %}

{% if S_PLUPLOAD %}{% include 'plupload.html' %}{% endif %}
{$SCRIPTS}

{% EVENT overall_footer_body_after %}
</body>
</html>
