{% extends "layout_main.html" %}

{% block content %}
<h2 class="memberlist-title">{PAGE_TITLE}</h2>

<!-- EVENT memberlist_view_content_prepend -->

<form method="post" action="{S_PROFILE_ACTION}" id="viewprofile">

<div class="panel panel-primary profile-panel{% if S_ONLINE %} online{% endif %}">

	<div class="panel-body">
	<div class="row">

		<div class="col-md-3">

			<div class="panel panel-default">
					{% if AVATAR_IMG %}
						<div class="avatar-container panel-heading">
							{AVATAR_IMG}
						<!-- EVENT memberlist_view_rank_avatar_before -->
						{% if RANK_TITLE %}<div class="profile-rank">{RANK_TITLE}</div>{% endif %}
						{% if RANK_IMG %}<div class="profile-rank-img">{RANK_IMG}</div>{% endif %}
						<!-- EVENT memberlist_view_rank_avatar_after -->
						</div>
					{% endif %}

				<div class="panel-body">
					<dl class="profile-details">
						<dt>{{ lang('USERNAME') }}{{ lang('COLON') }}</dt>
						<dd class="controls">
						{% if USER_COLOR %}<span style="color: {USER_COLOR}; font-weight: bold;">{% else %}<span>{% endif %}{{ USERNAME }}</span>
							{% if U_EDIT_SELF %}<a href="{U_EDIT_SELF}">{L_EDIT_PROFILE}</a>{% endif %}
							{% if U_USER_ADMIN %}<a href="{U_USER_ADMIN}">{L_USER_ADMIN}</a>{% endif %}
							{% if U_USER_BAN %}<a href="{U_USER_BAN}">{L_USER_BAN}</a>{% endif %}
							{% if U_SWITCH_PERMISSIONS %}<a href="{U_SWITCH_PERMISSIONS}">{L_USE_PERMISSIONS}</a>{% endif %}
						</dd>
						{% if not AVATAR_IMG %}
							<!-- EVENT memberlist_view_rank_no_avatar_before -->
							{% if RANK_TITLE %}<dt>{L_RANK}{{ lang('COLON') }}</dt> <dd>{RANK_TITLE}</dd>{% endif %}
							{% if RANK_IMG %}<dt>{% if RANK_TITLE %}&nbsp;{% else %}{L_RANK}{{ lang('COLON') }}{% endif %}</dt> <dd>{RANK_IMG}</dd>{% endif %}
							<!-- EVENT memberlist_view_rank_no_avatar_after -->
						{% endif %}
						{% if S_USER_INACTIVE %}<dt>{L_USER_IS_INACTIVE}{{ lang('COLON') }}</dt> <dd>{USER_INACTIVE_REASON}</dd>{% endif %}
						{% if AGE !== '' %}<dt>{L_AGE}{{ lang('COLON') }}</dt> <dd>{{ AGE }}</dd>{% endif %}
						{% if S_GROUP_OPTIONS %}
							<dt>{L_USERGROUPS}{{ lang('COLON') }}</dt>
							<dd><select name="g">{S_GROUP_OPTIONS}</select> <input type="submit" name="submit" value="{L_GO}" class="btn"></dd>
						{% endif %}
						<!-- BEGIN custom_fields -->
							{% if not custom_fields.S_PROFILE_CONTACT %}
								<dt>{custom_fields.PROFILE_FIELD_NAME}{{ lang('COLON') }}</dt> <dd>{custom_fields.PROFILE_FIELD_VALUE}</dd>
							{% endif %}
						<!-- END custom_fields -->
						{% if S_USER_LOGGED_IN and S_ZEBRA %}
							{% if U_REMOVE_FRIEND %}
								<dt>&nbsp;</dt> <dd class="zebra"><a href="{U_REMOVE_FRIEND}" data-ajax="zebra"><strong>{L_REMOVE_FRIEND}</strong></a></dd>
							{% elseif U_REMOVE_FOE %}
								<dt>&nbsp;</dt> <dd class="zebra"><a href="{U_REMOVE_FOE}" data-ajax="zebra"><strong>{L_REMOVE_FOE}</strong></a></dd>
							{% else %}
								{% if U_ADD_FRIEND %}
									<dt>&nbsp;</dt> <dd class="zebra"><a href="{U_ADD_FRIEND}" data-ajax="zebra"><strong>{L_ADD_FRIEND}</strong></a></dd>
								{% endif %}
								{% if U_ADD_FOE %}
									<dt>&nbsp;</dt> <dd class="zebra"><a href="{U_ADD_FOE}" data-ajax="zebra"><strong>{L_ADD_FOE}</strong></a></dd>
								{% endif %}
							{% endif %}
						{% endif %}
					</dl>
				</div>
			</div>
		</div>

		<div class="col-md-9">

			<!-- EVENT memberlist_view_contact_before -->

			<div class="panel panel-default">
				<div class="panel-heading">
					{{ lang('CONTACT_USER') }}
				</div>

				<div class="panel-body">
					<dl class="details">
					{% if U_EMAIL %}<dt>{L_EMAIL_ADDRESS}{{ lang('COLON') }}</dt> <dd><a href="{U_EMAIL}">{L_SEND_EMAIL_USER}</a></dd>{% endif %}
					{% if U_PM %}<dt>{L_PM}{{ lang('COLON') }}</dt> <dd><a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a></dd>{% endif %}
					{% if U_JABBER and S_JABBER_ENABLED %}<dt>{L_JABBER}{{ lang('COLON') }}</dt> <dd><a href="{U_JABBER}" onclick="popup(this.href, 750, 320); return false;">{L_SEND_JABBER_MESSAGE}</a></dd>{% elseif USER_JABBER %}<dt>{L_JABBER}{{ lang('COLON') }}</dt> <dd>{USER_JABBER}</dd>{% endif %}
					<!-- BEGIN custom_fields -->
						{% if custom_fields.S_PROFILE_CONTACT %}
							<dt>{custom_fields.PROFILE_FIELD_NAME}{{ lang('COLON') }}</dt>
							{% if custom_fields.PROFILE_FIELD_CONTACT %}
								<dd><a href="{custom_fields.PROFILE_FIELD_CONTACT}">{custom_fields.PROFILE_FIELD_DESC}</a></dd>
							{% else %}
								<dd>{custom_fields.PROFILE_FIELD_VALUE}</dd>
							{% endif %}
						{% endif %}
					<!-- END custom_fields -->
					{% if S_PROFILE_FIELD1 %}
						<!-- NOTE: Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
						<dt>{PROFILE_FIELD1_NAME}{{ lang('COLON') }}</dt> <dd>{PROFILE_FIELD1_VALUE}</dd>
					{% endif %}
					</dl>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					{{ lang('USER_FORUM') }}
				</div>

				<div class="panel-body">

				<dl class="details">
					<!-- EVENT memberlist_view_user_statistics_before -->
					<dt>{L_JOINED}{{ lang('COLON') }}</dt> <dd>{JOINED}</dd>
					<dt>{L_LAST_ACTIVE}{{ lang('COLON') }}</dt> <dd>{LAST_ACTIVE}</dd>
					{% if S_WARNINGS %}
					<dt>{L_WARNINGS}{{ lang('COLON') }} </dt>
					<dd><strong>{WARNINGS}</strong>{% if U_NOTES or U_WARN %} [ {% if U_NOTES %}<a href="{U_NOTES}">{L_VIEW_NOTES}</a>{% endif %} {% if U_WARN %}{% if U_NOTES %} | {% endif %}<a href="{U_WARN}">{L_WARN_USER}</a>{% endif %} ]{% endif %}</dd>
					{% endif %}
					<dt>{L_TOTAL_POSTS}{{ lang('COLON') }}</dt>
						<dd>{POSTS} {% if S_DISPLAY_SEARCH %}| <strong><a href="{U_SEARCH_USER}">{L_SEARCH_USER_POSTS}</a></strong>{% endif %}
							{% if POSTS_PCT %}<br>({POSTS_PCT} / {POSTS_DAY}){% endif %}
							{% if POSTS_IN_QUEUE and U_MCP_QUEUE %}<br>(<a href="{U_MCP_QUEUE}">{L_POSTS_IN_QUEUE}</a>){% elseif POSTS_IN_QUEUE %}<br>({L_POSTS_IN_QUEUE}){% endif %}
						</dd>
					{% if S_SHOW_ACTIVITY and POSTS %}
						<dt>{L_ACTIVE_IN_FORUM}{{ lang('COLON') }}</dt> <dd>{% if ACTIVE_FORUM != '' %}<strong><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong><br>({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT}){% else %} - {% endif %}</dd>
						<dt>{L_ACTIVE_IN_TOPIC}{{ lang('COLON') }}</dt> <dd>{% if ACTIVE_TOPIC != '' %}<strong><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong><br>({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT}){% else %} - {% endif %}</dd>
					{% endif %}
					<!-- EVENT memberlist_view_user_statistics_after -->
				</dl>
				</div>
			</div>
		</div>
	</div>


	{% if SIGNATURE %}
	<div class="panel">
		<div class="inner">

			<h3>{L_SIGNATURE}</h3>

			<div class="postbody"><div class="signature standalone">{SIGNATURE}</div></div>

		</div>
	</div>
	{% endif %}

	</div>
</div>
<!-- EVENT memberlist_view_contact_after -->

</form>

<!-- EVENT memberlist_view_content_append -->

<!-- INCLUDE includes/jumpbox.html -->
{% endblock %}
