{% extends S_SIMPLE_MESSAGE ? "layout_simple.html" : "layout_main.html" %}

{% block content %}
<div class="panel panel-default" id="message">
	<div class="panel-heading message-title">{MESSAGE_TITLE}</div>
    <div class="panel-body">
        <p>{MESSAGE_TEXT}</p>
        {% if SCRIPT_NAME == "search" and not S_BOARD_DISABLED and not S_NO_SEARCH and L_RETURN_TO_SEARCH_ADV %}
        <p><a href="{U_SEARCH}" class="arrow-{S_CONTENT_FLOW_BEGIN}">{L_GO_TO_SEARCH_ADV}</a></p>
        {% endif %}
	</div>
</div>
{% endblock %}