{% extends "layout_ucp.html" %}

{% block inner_content %}
<div class="panel-heading">
	<h2 class="panel-title">{{ lang('TITLE') }}</h2>
</div>

<div class="panel-body">
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

		<p>{{ lang('PROFILE_AUTOLOGIN_KEYS') }}</p>
		<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		<table class="table">
			<thead>
				<tr>
					<th class="name">{{ lang('LOGIN_KEY') }}</th>
					<th class="center">{{ lang('IP') }}</th>
					<th class="center">{{ lang('LOGIN_TIME') }}</th>
					<th class="center mark">{{ lang('MARK') }}</th>
				</tr>
			</thead>
			<tbody>
			<!-- BEGIN sessions -->
				<!-- IF sessions.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
					<td><label for="{sessions.KEY}">{sessions.KEY}</label></td>
					<td class="center">{sessions.IP}</td>
					<td class="center">{sessions.LOGIN_TIME}</td>
					<td class="center mark"><input type="checkbox" name="keys[]" value="{sessions.KEY}" id="{sessions.KEY}" /></td>
				</tr>
			<!-- BEGINELSE -->
				<tr><td colspan="4" class="bg1" style="text-align: center">{{ lang('PROFILE_NO_AUTOLOGIN_KEYS') }}</td></tr>
			<!-- END sessions -->
			</tbody>
		</table>

<!-- IF .sessions -->
	<fieldset class="display-actions">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="submit" value="{{ lang('DELETE_MARKED') }}" class="btn btn-success">
		<div>
			<a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{{ lang('UNMARK_ALL') }}</a>
		</div>
		{S_FORM_TOKEN}
	</fieldset>
<!-- ENDIF -->

</form>
</div>
{% endblock %}
