{% extends "layout_ucp.html" %}

{% block inner_content %}
<div class="panel-heading">
	<h2 class="panel-title">{{ TITLE }}</h2>
</div>

<div class="panel-body">
<form id="ucp" method="post" action="{S_UCP_ACTION}"{{ S_FORM_ENCTYPE }}>

	<p>{{ TITLE_EXPLAIN }}</p>
		<!-- IF MODE == 'notification_options' -->
			<table class="table">
				<thead>
					<tr>
						<th>{{ lang('NOTIFICATION_TYPE') }}</th>
						<!-- BEGIN notification_methods -->
							<th>{notification_methods.NAME}</th>
						<!-- END notification_methods -->
						<th>{{ lang('NOTIFICATIONS') }}</th>
					</tr>
				</thead>
				<tbody>
				<!-- BEGIN notification_types -->
					{% if notification_types.GROUP_NAME %}
						<tr class="bg3">
							<td colspan="{NOTIFICATION_TYPES_COLS}">{notification_types.GROUP_NAME}</td>
						</tr>
					{% else %}
						<tr>
							<td>
								{notification_types.NAME}
								{% if notification_types.EXPLAIN %}<br>&nbsp; &nbsp;{notification_types.EXPLAIN}{% endif %}
							</td>
							<!-- BEGIN notification_methods -->
								<td><input type="checkbox" name="{notification_types.TYPE}_{notification_methods.METHOD}"{% if notification_methods.SUBSCRIBED %} checked{% endif %}></td>
							<!-- END notification_methods -->
							<td><input type="checkbox" name="{notification_types.TYPE}_notification"{% if notification_types.SUBSCRIBED %} checked{% endif %}></td>
						</tr>
					{% endif %}
				<!-- END notification_types -->
				</tbody>
			</table>
		<!-- ELSE -->
			<!-- IF .notification_list -->
				<div class="action-bar top">
					<div class="pagination">
						<!-- IF U_MARK_ALL --><a href="{U_MARK_ALL}" class="mark">{{ lang('NOTIFICATIONS_MARK_ALL_READ') }}</a> &bull; <!-- ENDIF -->
						{{ lang('NOTIFICATIONS') }} [<strong>{TOTAL_COUNT}</strong>]
						<!-- IF .pagination -->
							<!-- INCLUDE includes/pagination.html -->
						<!-- ELSE -->
							 &bull; {PAGE_NUMBER}
						<!-- ENDIF -->
					</div>
				</div>

			<div class="notification_list">
				<ul class="topiclist two-columns">
					<li class="header">
						<dl>
							<dt><div class="list-inner">{{ lang('NOTIFICATIONS') }}</div></dt>
							<dd>{{ lang('MARK_READ') }}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist cplist two-columns">
					<!-- BEGIN notification_list -->
						<li class="row<!-- IF notification_list.UNREAD --> bg3<!-- ENDIF --><!-- IF notification_list.STYLING --> {notification_list.STYLING}<!-- ENDIF -->">
							<dl>
								<dt>
									<div class="list-inner">										
										<!-- IF notification_list.AVATAR -->{notification_list.AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt=""><!-- ENDIF -->
										<div class="notifications">
											{% if notification_list.URL %}<a href="{% if notification_list.UNREAD %}{notification_list.U_MARK_READ}{% else %}{notification_list.URL}{% endif %}">{% endif %}
											<p class="notifications_title">{notification_list.FORMATTED_TITLE}{% if notification_list.REFERENCE %} {notification_list.REFERENCE}{% endif %}</p>
											{% if notification_list.URL %}</a>{% endif %}
											{% if notification_list.FORUM %}<p class="notifications_forum">{notification_list.FORUM}</p>{% endif %}
											{% if notification_list.REASON %}<p class="notifications_reason">{notification_list.REASON}</p>{% endif %}
											<p class="notifications_time">{notification_list.TIME}</p>
										</div>
									</div>
								</dt>

								<dd>
									<input type="checkbox" name="mark[]" value="{notification_list.NOTIFICATION_ID}"{% if not notification_list.UNREAD %} disabled="disabled"{% endif %}>
									<dfn>{{ lang('MARK_READ') }}</dfn>
								</dd>
							</dl>
						</li>
					<!-- END notification_list -->
				</ul>
			</div>

			<div class="action-bar bottom">
				<div class="pagination">
					{{ lang('NOTIFICATIONS') }} [<strong>{TOTAL_COUNT}</strong>]
					<!-- IF .pagination -->
						<!-- INCLUDE includes/pagination.html -->
					<!-- ELSE -->
						  &bull; {PAGE_NUMBER}
					<!-- ENDIF -->
				</div>
			</div>

			<!-- ELSE -->
				<p><strong>{{ lang('NO_NOTIFICATIONS') }}</strong></p>
			<!-- ENDIF -->

		<!-- ENDIF -->

<!-- IF .notification_types or .notification_list -->
<fieldset class="display-actions">
	<input type="hidden" name="form_time" value="{FORM_TIME}" />
	{S_HIDDEN_FIELDS}
	<input type="submit" name="submit" value="<!-- IF MODE == 'notification_options' -->{{ lang('SUBMIT') }}<!-- ELSE -->{{ lang('MARK_READ') }}<!-- ENDIF -->" class="btn btn-success">
	<div>
		<a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{{ lang('UNMARK_ALL') }}</a>
	</div>
	{S_FORM_TOKEN}
</fieldset>
<!-- ENDIF -->

</form>
</div>
{% endblock %}
