{% extends "layout_ucp.html" %}

{% block inner_content %}

<div class="panel-heading"><h2 class="panel-title">{{ lang('TITLE') }}</h2></div>

<div class="panel-body">
<form id="ucp" method="post" action="{S_UCP_ACTION}"{{ S_FORM_ENCTYPE }}>

<p>{{ lang('WATCHED_EXPLAIN') }}</p>

{% if loops.forumrow is not empty %}
	<table class="table">
		<tr>
			<th class="col-sm-5">{{ lang('WATCHED_FORUMS') }}</th>
			<th class="col-sm-5">{{ lang('LAST_POST') }}</th>
			<th class="col-sm-2">{{ lang('MARK') }}</th>
		</tr>
	<!-- BEGIN forumrow -->
		<tr class="icon {forumrow.FORUM_IMG_STYLE}">
			<td>
				{% if forumrow.S_UNREAD_FORUM %}<a href="{forumrow.U_VIEWFORUM}" class="icon-link"></a>{% endif %}
				<div class="list-inner">
					<a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a><br>
					{forumrow.FORUM_DESC}
					{% if forumrow.LAST_POST_TIME %}
					<div class="responsive-show" style="display: none;">
						{{ lang('LAST_POST') }} {{ lang('POST_BY_AUTHOR') }} {forumrow.LAST_POST_AUTHOR_FULL} &laquo; <a href="{topicrow.U_LAST_POST}">{forumrow.LAST_POST_TIME}</a>
					</div>
					{% endif %}
				</div>
			</td>
			<td class="lastpost">{% if forumrow.LAST_POST_TIME %}<span><dfn>{{ lang('LAST_POST') }} </dfn>{{ lang('POST_BY_AUTHOR') }} {forumrow.LAST_POST_AUTHOR_FULL}
				<a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a> <br>{forumrow.LAST_POST_TIME}</span>
				{% else %}{{ lang('NO_POSTS') }}<br>&nbsp;{% endif %}
			</td>
			<td class="mark-col"><input type="checkbox" name="f[{forumrow.FORUM_ID}]" id="f{forumrow.FORUM_ID}" /></td>
		</tr>
	<!-- END forumrow -->
	</table>
{% elseif S_FORUM_NOTIFY %}
	<h2>{{ lang('WATCHED_FORUMS') }}</h2>
	<p><strong>{{ lang('NO_WATCHED_FORUMS') }}</strong></p>
{% endif %}
    <br>

{% if loops.topicrow is not empty %}
	<table class="table">
		<tr>
			<th class="col-sm-5">{{ lang('WATCHED_TOPICS') }}</th>
			<th class="col-sm-5">{{ lang('LAST_POST') }}</th>
			<th class="col-sm-2">{{ lang('MARK') }}</th>
		</tr>
	<!-- BEGIN topicrow -->
		<tr class="icon {topicrow.TOPIC_IMG_STYLE}">
			<td{% if topicrow.TOPIC_ICON_IMG %} style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"{% endif %} title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
				{% if topicrow.S_UNREAD_TOPIC %}<a href="{topicrow.U_NEWEST_POST}" class="icon-link"></a>{% endif %}
				<div class="list-inner">
					{% if topicrow.S_UNREAD_TOPIC %}<a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> {% endif %}<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
					{% if topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED %}<a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> {% endif %}
					{% if topicrow.S_TOPIC_REPORTED %}<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>{% endif %}<br>
					{% if loops.topicrow.pagination %}
					<div class="pagination">
						<ul>
						<!-- BEGIN pagination -->
							{% if topicrow.pagination.S_IS_PREV %}
							{% elseif topicrow.pagination.S_IS_CURRENT %}<li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
							{% elseif topicrow.pagination.S_IS_ELLIPSIS %}<li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
							{% elseif topicrow.pagination.S_IS_NEXT %}
							{% else %}<li><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
							{% endif %}
						<!-- END pagination -->
						</ul>
					</div>
					{% endif %}
					<div class="responsive-hide">
						{% if topicrow.ATTACH_ICON_IMG %}{topicrow.ATTACH_ICON_IMG} {% endif %}
						{{ lang('POST_BY_AUTHOR') }} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
					</div>
					<div class="responsive-show" style="display: none;">
						{% if topicrow.ATTACH_ICON_IMG %}{topicrow.ATTACH_ICON_IMG} {% endif %}
						{{ lang('LAST_POST') }} {{ lang('POST_BY_AUTHOR') }} {topicrow.LAST_POST_AUTHOR_FULL} &laquo; <a href="{topicrow.U_LAST_POST}" title="{{ lang('GOTO_LAST_POST') }}">{topicrow.LAST_POST_TIME}</a>
					</div>
				</div>
			</td>
			<td class="lastpost"><span><dfn>{{ lang('LAST_POST') }} </dfn>{{ lang('POST_BY_AUTHOR') }} {topicrow.LAST_POST_AUTHOR_FULL}
				<a href="{topicrow.U_LAST_POST}" title="{{ lang('GOTO_LAST_POST') }}">{LAST_POST_IMG}</a> <br>{topicrow.LAST_POST_TIME}</span>
			</td>
			<td class="mark-col"><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}"></td>
		</tr>
	<!-- END topicrow -->
	</table>

	<div class="action-bar bottom">
		<div class="pagination">
			{TOTAL_TOPICS}
			{% if loops.pagination is not empty %}
				<!-- INCLUDE includes/pagination.html -->
			{% else %} 
				 &bull; {PAGE_NUMBER}
			{% endif %}
		</div>
	</div>

{% elseif S_TOPIC_NOTIFY %}
	<h2>{{ lang('WATCHED_TOPICS') }}</h2>
	<p><strong>{{ lang('NO_WATCHED_TOPICS') }}</strong></p>
{% endif %}


<!-- IF .topicrow or .forumrow -->
	<div class="display-actions pull-right">
		<input type="submit" name="unwatch" value="{{ lang('UNWATCH_MARKED') }}" class="btn btn-warning"><br>
		<a href="#" onclick="marklist('ucp', 't', true); marklist('ucp', 'f', true); return false;">{{ lang('MARK_ALL') }}</a>
		&bull;
		<a href="#" onclick="marklist('ucp', 't', false); marklist('ucp', 'f', false); return false;">{{ lang('UNMARK_ALL') }}</a>
		{{ S_FORM_TOKEN }}
	</div>
<!-- ENDIF -->

</form>
</div>
{% endblock %}
