{% extends "layout_ucp.html" %}

{% block inner_content %}
<div class="panel-heading"><h2 class="panel-title">{{ lang('TITLE') }}</h2></div>

<div class="panel-body">
<form id="ucp" method="post" action="{S_UCP_ACTION}"{{ S_FORM_ENCTYPE }}>

	<!-- IF ERROR_MESSAGE --><p class="error">{ERROR_MESSAGE}</p><!-- ENDIF -->
	<!-- IF NOTIFICATION_MESSAGE --><p class="error">{NOTIFICATION_MESSAGE}</p><!-- ENDIF -->

	<h3 class="m-t-0">{{ lang('DEFINED_RULES') }}</h3>

	<ol class="def-rules">
	<!-- BEGIN rule -->
		<li><div class="right-box"><input type="submit" name="delete_rule[{rule.RULE_ID}]" value="{{ lang('DELETE_RULE') }}" class="btn btn-default" /></div><strong>{{ lang('IF') }}</strong> {rule.CHECK} <em>{rule.RULE}</em> <!-- IF rule.STRING --><strong>{rule.STRING}</strong> | <!-- ENDIF -->{rule.ACTION}<!-- IF rule.FOLDER -->{{ lang('COLON') }} {rule.FOLDER}<!-- ENDIF --><div style="clear: both;"></div></li>
	<!-- BEGINELSE -->
		<li><strong>{{ lang('NO_RULES_DEFINED') }}</strong></li>
	<!-- END rule -->
	</ol>

	<div class="panel panel-default">
		<div class="panel-heading">{{ lang('ADD_NEW_RULE') }}</div>

		<div class="panel-body">
		{% if S_CHECK_DEFINED %}
			<div class="row">
				<div{% if S_CHECK_SELECT %} for="check_option"{% endif %} class="col-sm-2 text-center">
					<b>{{ lang('IF') }}{{ lang('COLON') }}</b>
				</div>
				{% if S_CHECK_SELECT %}
					<div class="col-sm-3">
						<select name="check_option" id="check_option" class="form-control input-sm">{{ S_CHECK_OPTIONS }}</select>
					</div>
					<div class="col-sm-7">
						<input type="submit" name="next" value="{{ lang('NEXT_STEP') }}" class="btn btn-default btn-sm">
					</div>
				{% else %}
					<div class="col-sm-10">
						{{ CHECK_CURRENT }}
						<input type="hidden" name="check_option" value="{{ CHECK_OPTION }}">
					</div>
				{% endif %}
			</div>
		{% endif %}

		{% if S_RULE_DEFINED %}
			<div class="row">
				{% if S_RULE_SELECT %}
					<div class="col-sm-2 text-center">
						<input type="submit" name="back[rule]" value="{{ lang('PREVIOUS_STEP') }}" class="btn btn-default btn-sm">
					</div>
					<div class="col-sm-4">
						<select name="rule_option" id="rule_option" class="form-control input-sm">{{ S_RULE_OPTIONS }}</select>
					</div>
					<div class="col-sm-6">
						<input type="submit" name="next" value="{{ lang('NEXT_STEP') }}" class="btn btn-default btn-sm">
					</div>
				{% else %}
					<div class="col-sm-2 col-sm-push-2">
						<em>{RULE_CURRENT}</em><input type="hidden" name="rule_option" value="{RULE_OPTION}">
					</div>
				{% endif %}
			</div>
		{% endif %}

		{% if S_COND_DEFINED %}
			{% if S_COND_SELECT or COND_CURRENT %}
				<div class="row">
					<div class="col-sm-2">{% if S_COND_SELECT %}<input type="submit" name="back[cond]" value="{{ lang('PREVIOUS_STEP') }}" class="btn btn-default btn-sm">{% else %}&nbsp;{% endif %}</div>
					{% if S_COND_SELECT %}
						<div class="col-sm-4">
							{% if S_TEXT_CONDITION %}
								<input type="text" name="rule_string" value="{CURRENT_STRING}" class="form-control" maxlength="250">
							{% elseif S_USER_CONDITION %}
								<input type="text" name="rule_string" value="{CURRENT_STRING}" class="form-control">&nbsp;
								<span>[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</span>
							{% elseif S_GROUP_CONDITION %}
								<input type="hidden" name="rule_string" value="{CURRENT_STRING}">
								{% if S_GROUP_OPTIONS %}<select name="rule_group_id">{S_GROUP_OPTIONS}</select>{% else %}{{ lang('NO_GROUPS') }}{% endif %}
							{% endif %}
						</div>
						<div class="col-sm-6">
							<input type="submit" name="next" value="{{ lang('NEXT_STEP') }}" class="btn btn-default btn-sm">
						</div>
					{% else %}
						<div class="col-sm-10">
							<strong>{COND_CURRENT}</strong>
							<input type="hidden" name="rule_string" value="{CURRENT_STRING}"><input type="hidden" name="rule_user_id" value="{CURRENT_USER_ID}"><input type="hidden" name="rule_group_id" value="{CURRENT_GROUP_ID}">
						</div>
					{% endif %}
				</div>
			{% endif %}
			<input type="hidden" name="cond_option" value="{COND_OPTION}">
		{% endif %}


		{% if NONE_CONDITION %}<input type="hidden" name="cond_option" value="none">{% endif %}

		{% if S_ACTION_DEFINED %}
			<div class="row">
				<div class="col-sm-2 text-center">
					{% if S_ACTION_SELECT %}
						<input type="submit" name="back[action]" value="{{ lang('PREVIOUS_STEP') }}" class="btn btn-default btn-sm">
					{% else %}
						&nbsp;
					{% endif %}
				</div>
				{% if S_ACTION_SELECT %}
					<div class="col-sm-4">
						<select name="action_option" class="form-control input-sm">{S_ACTION_OPTIONS}</select>
					</div>
					<div class="col-sm-4">
						<input type="submit" name="add_rule" value="{{ lang('ADD_RULE') }}" class="btn btn-success btn-sm">
					</div>
				{% else %}
					<div class="col-sm-10">
						{{ ACTION_CURRENT }}<input type="hidden" name="action_option" value="{ACTION_OPTION}">
					</div>
				{% endif %}
			</div>
		{% endif %}
		</div>
	</div>

	<hr>

	<h3>{{ lang('FOLDER_OPTIONS') }}</h3>

	<fieldset>

	<!-- IF not S_MAX_FOLDER_ZERO -->
	<div class="form-horizontal">
		<div class="form-group">
			{% if S_MAX_FOLDER_REACHED %}
				{{ lang('MAX_FOLDER_REACHED') }}
			{% else %}
				<label for="foldername" class="col-sm-2 control-label">{{ lang('ADD_FOLDER') }}{{ lang('COLON') }}</label>
				<div class="col-sm-6"><input type="text" class="form-control input-sm" name="foldername" id="foldername" size="30" maxlength="30"></div>
				<div class="col-sm-4"><input class="btn btn-sm btn-success" type="submit" name="addfolder" value="{{ lang('ADD') }}"></div>
			{% endif %}
		</div>
	</div>
	<!-- IF S_FOLDER_OPTIONS --><hr class="dashed"><!-- ENDIF -->
	<!-- ENDIF -->



	<!-- IF S_FOLDER_OPTIONS -->
		<dl>
			<dt><label for="rename_folder_id">{{ lang('RENAME_FOLDER') }}{{ lang('COLON') }}</label></dt>
			<dd><select name="rename_folder_id" id="rename_folder_id">{S_FOLDER_OPTIONS}</select></dd>
			<dt><label for="new_folder_name">{{ lang('NEW_FOLDER_NAME') }}{{ lang('COLON') }}</label></dt>
			<dd><input type="text" class="inputbox tiny" name="new_folder_name" id="new_folder_name" maxlength="30" /> <input class="btn btn-default" type="submit" name="rename_folder" value="{{ lang('RENAME') }}" /></dd>
		</dl>
		<hr class="dashed" />
		<dl>
			<dt><label for="remove_folder_id">{{ lang('REMOVE_FOLDER') }}{{ lang('COLON') }}</label></dt>
			<dd><select name="remove_folder_id" id="remove_folder_id">{S_FOLDER_OPTIONS}</select></dd>
			<dd style="margin-top: 3px;"><label for="remove_action1"><input type="radio" name="remove_action" id="remove_action1" value="1" checked="checked" /> {{ lang('MOVE_DELETED_MESSAGES_TO') }}{{ lang('COLON') }}</label> <select name="move_to">{S_TO_FOLDER_OPTIONS}</select></dd>
			<dd style="margin-top: 3px;"><label for="remove_action2"><input type="radio" name="remove_action" id="remove_action2" value="2" /> {{ lang('DELETE_MESSAGES_IN_FOLDER') }}</label></dd>
			<dd style="margin-top: 3px;"><input class="btn btn-default" type="submit" name="remove_folder" value="{{ lang('REMOVE') }}" /></dd>
		</dl>
	<!-- ENDIF -->

	<hr class="dashed" />

	<dl>
		<dt><label for="full_action1">{{ lang('IF_FOLDER_FULL') }}{{ lang('COLON') }}</label></dt>
		<dd style="margin-top: 3px;"><label for="full_action1"><input type="radio" name="full_action" id="full_action1" value="1"{S_DELETE_CHECKED} /> {{ lang('DELETE_OLDEST_MESSAGES') }}</label></dd>
		<dd style="margin-top: 3px;"><label for="full_action2"><input type="radio" name="full_action" id="full_action2" value="2"{S_MOVE_CHECKED} /> {{ lang('MOVE_TO_FOLDER') }}{{ lang('COLON') }}</label> <select name="full_move_to">{S_FULL_FOLDER_OPTIONS}</select></dd>
		<dd style="margin-top: 3px;"><label for="full_action3" style="white-space:normal;"><input type="radio" name="full_action" id="full_action3" value="3"{S_HOLD_CHECKED} /> {{ lang('HOLD_NEW_MESSAGES') }}</label></dd>
	</dl>


	<dl>
		<dt><label>{{ lang('DEFAULT_ACTION') }}{{ lang('COLON') }}</label><br><span>{{ lang('DEFAULT_ACTION_EXPLAIN') }}</span></dt>
		<dd>{DEFAULT_ACTION}</dd>
		<dd><input class="btn btn-default" type="submit" name="fullfolder" value="{{ lang('CHANGE') }}" /></dd>
	</dl>
	</fieldset>

	</div>
	{S_FORM_TOKEN}
</div>
</form>
{% endblock %}
