{% extends "layout_ucp.html" %}

{% block head %}
{{ parent() }}
<script type="text/javascript">
// <![CDATA[
	var date_format = '{A_DATE_FORMAT}';
	var default_dateformat = '{A_DEFAULT_DATEFORMAT}';

	function customDates()
	{
		var e = document.getElementById('dateoptions');

		e.selectedIndex = e.length - 1;

		// Loop and match date_format in menu
		for (var i = 0; i < e.length; i++)
		{
			if (e.options[i].value == date_format)
			{
				e.selectedIndex = i;
				break;
			}
		}

		// Show/hide custom field
		if (e.selectedIndex == e.length - 1)
		{
			phpbb.toggleDisplay('custom_date',1);
		}
		else
		{
			phpbb.toggleDisplay('custom_date',-1);
		}
	}

	window.onload = customDates;
// ]]>
</script>
{% endblock %}

{% block inner_content %}
<div class="panel-heading">
	<h2 class="panel-title">{{ lang('TITLE') }}</h2>
</div>
<div class="panel-body">
	{% if ERROR %}<div class="alert alert-danger" role="alert">{ERROR}</div>{% endif %}

	{% EVENT ucp_prefs_personal_prepend %}

	<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
		<div class="form-group">
			<p><label>{{ lang('SHOW_EMAIL') }}{{ lang('COLON') }}</label></p>
			<label class="radio-inline">
				<input type="radio" name="viewemail" id="viewemail1" value="1"{% if S_VIEW_EMAIL %}checked="checked"{% endif %}> {{ lang('YES') }}
			</label>
			<label class="radio-inline">
				<input type="radio" name="viewemail" id="viewemail0" value="0"{% if not S_VIEW_EMAIL %} checked="checked"{% endif %}> {{ lang('NO') }}
			</label>
		</div>
		<div class="form-group">
			<p><label>{{ lang('ADMIN_EMAIL') }}{{ lang('COLON') }}</label></p>
			<label class="radio-inline">
				<input type="radio" name="massemail" id="massemail1" value="1"{% if S_MASS_EMAIL %} checked="checked"{% endif %}> {{ lang('YES') }}
			</label>
			<label class="radio-inline">
				<input type="radio" name="massemail" id="massemail0" value="0"{% if not S_MASS_EMAIL %} checked="checked"{% endif %}> {{ lang('NO') }}
			</label>
		</div>
		<div class="form-group">
			<p><label>{{ lang('ALLOW_PM') }}{{ lang('COLON') }}</label></p>
			<p class="help-block">{{ lang('ALLOW_PM_EXPLAIN') }}</p>
			<label class="radio-inline">
				<input type="radio" name="allowpm" id="allowpm1" value="1"{% if S_ALLOW_PM %} checked="checked"{% endif %}> {{ lang('YES') }}
			</label>
			<label class="radio-inline">
				<input type="radio" name="allowpm" id="allowpm0" value="0"{% if not S_ALLOW_PM %} checked="checked"{% endif %}> {{ lang('NO') }}
			</label>
		</div>
		{% if S_CAN_HIDE_ONLINE %}
		<div class="form-group">
			<p><label>{{ lang('HIDE_ONLINE') }}{{ lang('COLON') }}</label></p>
			<p class="help-block">{{ lang('HIDE_ONLINE_EXPLAIN') }}</p>
			<label class="radio-inline">
				<input type="radio" name="hideonline" id="hideonline1" value="1"{% if S_HIDE_ONLINE %} checked="checked"{% endif %}> {{ lang('YES') }}
			</label>
			<label class="radio-inline">
				<input type="radio" name="hideonline" id="hideonline0" value="0"{% if not S_HIDE_ONLINE %} checked="checked"{% endif %}> {{ lang('NO') }}
			</label>
		</div>
		{% endif %}
		{% if S_SELECT_NOTIFY %}
		<div class="form-group">
			<p><label>{{ lang('NOTIFY_METHOD') }}{{ lang('COLON') }}</label></p>
			<label class="radio-inline">
				<input type="radio" name="notifymethod" id="notifymethod0" value="0"{% if S_NOTIFY_EMAIL %} checked="checked"{% endif %}> {{ lang('NOTIFY_METHOD_EMAIL') }}
			</label>
			<label class="radio-inline">
				<input type="radio" name="notifymethod" id="notifymethod1" value="1"{% if S_NOTIFY_IM %} checked="checked"{% endif %}> {{ lang('NOTIFY_METHOD_IM') }}
			</label>
			<label class="radio-inline">
				<input type="radio" name="notifymethod" id="notifymethod2" value="2"{% if S_NOTIFY_BOTH %} checked="checked"{% endif %}> {{ lang('NOTIFY_METHOD_BOTH') }}
			</label>
		</div>
		{% endif %}
		{% if S_MORE_LANGUAGES %}
		<div class="form-group">
			<label for="lang">{{ lang('BOARD_LANGUAGE') }}{{ lang('COLON') }}</label>
			<select name="lang" class="form-control" id="lang">{S_LANG_OPTIONS}</select>
		</div>
		{% endif %}
		{% if S_STYLE_OPTIONS and S_MORE_STYLES %}
		<div class="form-group">
			<label for="user_style">{{ lang('BOARD_STYLE') }}{{ lang('COLON') }}</label>
			<select name="user_style" class="form-control" id="user_style">{S_STYLE_OPTIONS}</select>
		</div>
		{% endif %}

		{% include "includes/timezone_option.html" %}
		
		<div class="form-group">
			<label for="dateformat">{{ lang('BOARD_DATE_FORMAT') }}{{ lang('COLON') }}</label>
			<p class="help-block">{{ lang('BOARD_DATE_FORMAT_EXPLAIN') }}</p>
			<div class="row">
				<div class="col-sm-6">
					<select name="dateoptions" class="form-control" id="dateoptions" onchange="if(this.value=='custom'){phpbb.toggleDisplay('custom_date',1);}else{phpbb.toggleDisplay('custom_date',-1);} if (this.value == 'custom') { document.getElementById('dateformat').value = default_dateformat; } else { document.getElementById('dateformat').value = this.value; }">{S_DATEFORMAT_OPTIONS}</select>
				</div>
				<div class="col-sm-6">
					<input type="text" name="dateformat" id="dateformat" value="{DATE_FORMAT}" maxlength="30" class="form-control">
				</div>
			</div>
		</div>
		{% EVENT ucp_prefs_personal_append %}
		
		{S_HIDDEN_FIELDS}
		<input type="reset" value="{{ lang('RESET') }}" name="reset" class="btn btn-warning">&nbsp;
		<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="btn btn-primary">
		{S_FORM_TOKEN}
</form>
</div>
{% endblock %}
