{% extends "layout_ucp.html" %}

{% block inner_content %}
<div class="panel-heading"><h2 class="panel-title">{{ lang('TITLE') }}</h2></div>

<div class="panel-body">
<form id="ucp" method="post" action="{S_UCP_ACTION}"{{ S_FORM_ENCTYPE }}>

<p>{{ lang('BOOKMARKS_EXPLAIN') }}</p>

{% if S_NO_DISPLAY_BOOKMARKS %}
	<p class="error">{{ lang('BOOKMARKS_DISABLED') }}</p>
{% else %}

{% if loops.topicrow is not empty %}
	<table class="table">
		<tr>
			<th class="col-sm-5">{{ lang('BOOKMARKS') }}</th>
			<th class="col-sm-5">{{ lang('LAST_POST') }}</th>
			<th class="col-sm-2">{{ lang('MARK') }}</th>
		</tr>
	<!-- BEGIN topicrow -->
		<tr class="{% if topicrow.S_TOPIC_REPORTED %} reported{% endif %}">
			{% if topicrow.S_DELETED_TOPIC %}
				<tr class="deleted">
					<td><div class="list-inner"><strong>{{ lang('DELETED_TOPIC') }}</strong></div></td>
					<td class="lastpost"><span>&nbsp;</span></td>
					<td class="mark-col"><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" /></td>
				</tr>
			{% else %}
			<tr class="icon {topicrow.TOPIC_IMG_STYLE}">
				<td<!-- IF topicrow.TOPIC_ICON_IMG --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
					<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}" class="icon-link"></a><!-- ENDIF -->
					<div class="list-inner">
						{% if topicrow.S_UNREAD_TOPIC %}<a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> {% endif %}<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
						{% if topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED %}<a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> {% endif %}
						{% if topicrow.S_TOPIC_REPORTED %}<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>{% endif %}<br>
						<!-- IF .topicrow.pagination -->
						<div class="pagination">
							<ul>
							<!-- BEGIN pagination -->
								<!-- IF topicrow.pagination.S_IS_PREV -->
								<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
								<!-- ELSE --><li><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
							<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->
						<div class="responsive-hide">
							{% if topicrow.ATTACH_ICON_IMG %}{topicrow.ATTACH_ICON_IMG} {% endif %}
							{{ lang('POST_BY_AUTHOR') }} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
						</div>
						<div class="responsive-show" style="display: none;">
							{% if topicrow.ATTACH_ICON_IMG %}{topicrow.ATTACH_ICON_IMG} {% endif %}
							{{ lang('LAST_POST') }} {{ lang('POST_BY_AUTHOR') }} {topicrow.LAST_POST_AUTHOR_FULL} &laquo;
							<a href="{topicrow.U_LAST_POST}" title="{{ lang('GOTO_LAST_POST') }}">{topicrow.LAST_POST_TIME}</a>
						</div>
					</div>
				</td>
				<td class="lastpost"><span><dfn>{{ lang('LAST_POST') }} </dfn>{{ lang('POST_BY_AUTHOR') }} {topicrow.LAST_POST_AUTHOR_FULL}
					<a href="{topicrow.U_LAST_POST}" title="{{ lang('GOTO_LAST_POST') }}">{LAST_POST_IMG}</a> <br>{topicrow.LAST_POST_TIME}</span>
				</td>
				<td class="mark-col"><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" /></td>
			</tr>
			{% endif %}
		</tr>
	<!-- END topicrow -->
	</table>

	<div class="action-bar bottom">
		<div class="pagination">
			{TOTAL_TOPICS}
			{% if loops.pagination is not empty %}
				<!-- INCLUDE includes/pagination.html -->
			{% else %} 
				 &bull; {PAGE_NUMBER}
			{% endif %}
		</div>
	</div>

<!-- ELSE -->
	<p><strong>{{ lang('NO_BOOKMARKS') }}</strong></p>
<!-- ENDIF -->

<!-- ENDIF -->


<!-- IF .topicrow and not S_NO_DISPLAY_BOOKMARKS -->
	<div class="display-actions pull-right">
		<input type="submit" name="unbookmark" value="{{ lang('REMOVE_BOOKMARK_MARKED') }}" class="btn btn-warning"><br>
		<a href="#" onclick="marklist('ucp', '', true); return false;">{{ lang('MARK_ALL') }}</a>
		&bull;
		<a href="#" onclick="marklist('ucp', '', false); return false;">{{ lang('UNMARK_ALL') }}</a>
		{{ S_FORM_TOKEN }}
	</div>
<!-- ENDIF -->

</form>
</div>
{% endblock %}
