{% extends "layout_ucp.html" %}

{% block inner_content %}

<div class="panel-heading"><h2 class="panel-title">{{ lang('TITLE') }}</h2></div>

<div class="panel-body">
<form id="postform" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<p>{{ lang('DRAFTS_EXPLAIN') }}</p>

<!-- IF S_EDIT_DRAFT -->

		{% include "includes/posting_editor.html" %}
		</div>
	</div>

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}<input type="reset" value="{{ lang('RESET') }}" name="reset" class="btn btn-warning">&nbsp;
		<input type="submit" name="submit" value="{{ lang('SAVE') }}" class="btn btn-success">
		{S_FORM_TOKEN}
	</fieldset>

<!-- ELSE -->

	<!-- IF .draftrow -->
	<table class="table">
		<tr>
			<th class="col-sm-5">{{ lang('DRAFT_TITLE') }}</th>
			<th class="col-sm-5">{{ lang('SAVE_DATE') }}</th>
			<th class="col-sm-2">{{ lang('MARK') }}</th>
		</tr>
		<!-- BEGIN draftrow -->
		<tr>
			<td>
				<div class="list-inner">
					<a class="topictitle" href="{draftrow.U_VIEW_EDIT}">{draftrow.DRAFT_SUBJECT}</a><br>
					<!-- IF draftrow.S_LINK_TOPIC -->{{ lang('TOPIC') }}{{ lang('COLON') }} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
					<!-- ELSEIF draftrow.S_LINK_FORUM -->{{ lang('FORUM') }}{{ lang('COLON') }} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
					<!-- ELSEIF S_PRIVMSGS -->
					<!-- ELSE -->{{ lang('NO_TOPIC_FORUM') }}<!-- ENDIF -->
					<div class="responsive-show" style="display: none;">
						{{ lang('SAVE_DATE') }}{{ lang('COLON') }} <strong>{draftrow.DATE}</strong><br>
						<!-- IF draftrow.U_INSERT --><a href="{draftrow.U_INSERT}">{{ lang('LOAD_DRAFT') }}</a> &bull; <!-- ENDIF --><a href="{draftrow.U_VIEW_EDIT}">{{ lang('VIEW_EDIT') }}</a>
					</div>
				</div>
			</td>
			<td class="info">
				<span>{draftrow.DATE}<br>{% if draftrow.U_INSERT %}<a href="{draftrow.U_INSERT}">{{ lang('LOAD_DRAFT') }}</a> &bull; {% endif %}<a href="{draftrow.U_VIEW_EDIT}">{{ lang('VIEW_EDIT') }}</a></span>
			</td>
			<td class="mark-col"><input type="checkbox" name="d[{draftrow.DRAFT_ID}]" id="d{draftrow.DRAFT_ID}" /></td>
		</tr>
		<!-- END draftrow -->
	</table>
	<!-- ELSE -->
		<p><strong>{{ lang('NO_SAVED_DRAFTS') }}</strong></p>
	<!-- ENDIF -->

	<!-- IF .draftrow -->
		<div class="display-actions pull-right">
			<input type="submit" name="delete" value="{{ lang('DELETE_MARKED') }}" class="btn btn-warning"><br>
			<a href="#" onclick="marklist('postform', '', true); return false;">{{ lang('MARK_ALL') }}</a>
			&bull;
			<a href="#" onclick="marklist('postform', '', false); return false;">{{ lang('UNMARK_ALL') }}</a>
			{{ S_FORM_TOKEN }}
		</div>
	<!-- ENDIF -->

<!-- ENDIF -->

</form>
</div>
{% endblock %}
