/*  phpBB3 Style Sheet
    --------------------------------------------------------------
    Style name:         Sandstone
    Original authors:   Philip Nicolcev ( http://www.cyclical.ca/ )
                        Rosina Ramirez
    --------------------------------------------------------------
*/

.top-buffer {
	margin-top: 10px;
}

.m-t-0 {
	margin-top:0;
}

.p-r-0 {
	padding-right:0;
}

.skiplink a {
	padding: 6px;
	position: absolute;
	top: -40px;
	left: 0px;
	transition: top 1s ease-out, background 1s linear;
	z-index: 100;
}
.skiplink a:focus {
	top: 0px;
	left: 0px;
}

.header-avatar img {
	max-height: 40px;
	width: auto;
	border-radius: 5px;
}

#username_logged_in>a {
	padding: 5px 15px;
}

#search-box {
	padding-top: 10px;
}

#darkenwrapper {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

#darken {
	background: rgba(0,0,0,0.5);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 15;
}

.action-bar{
	margin-bottom:15px
}

.modal-dialog {
	z-index: 55;
	display:none;
}

.forums .row, .topics .row {
	margin-bottom: 15px;
}

.forumtitle {
	font-weight: bold;
}

.pagination{
	margin:0
}

.topics .pagination-sm{
	float:right;
	margin:0 0 10px 0;
}
.topics .pagination-sm > li > a, .topics .pagination-sm > li > span{
	padding: 2px 7px
}

.btn-text{
	display:inline-block;
	padding:6px 13px;
	line-height:1.42857143;
	vertical-align:top
}

.ucp-container, .mcp-container {
	border-color: #ddd;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-radius: 0 0 5px 5px;
	padding: 15px;
}

#cp-menu #navigation {
	margin-top: 4px;
}

#cp-menu .nav-stacked li > a {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}

.dropdown-menu > .dropdown-text{
	padding:3px 20px;
	clear:both;
	white-space:nowrap
}

.dropdown-inline{
	display:inline-block
}

.search-box{
	text-align:right;
}

.popover-container{
	position:relative;
	vertical-align:top;
	display:inline-block;
}

.popover-container .popover.bottom{
	top:34px;
}

.panel-primary .panel-heading a,
.panel-primary .panel-heading a:hover,
.panel-primary .panel-heading a:focus{
	color:#fff
}

#pm-actions {
	margin-bottom: 15px;
}

@media (min-width: 768px) {
	#cp-main {
			padding-left: 0;
	}
}

dl.legend {
	margin: 15px;
	padding: 15px;
	background: #aaa;
	color: white;
	border-radius: 5px;
}

dl.legend dd>span {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 15px;
	border-radius: 5px;
	border: 1px solid #fff;
}

.pm_marked {
	background-color: #FF954E;
}

.pm_replied {
	background-color: #A9A9C0;
}

dl.legend dt {
	display: block;
	padding-bottom: 5px;
}

dl.legend dd, dl.profile-details dd {
	display: block;
	padding-bottom: 5px;
}

dl.profile-details dd.controls a {
	display: block;
}

.form-control-fix select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-fix select:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-fix select::-moz-placeholder {
	color: #999;
	opacity: 1;
}
.form-control-fix select::-webkit-input-placeholder {
	color: #999;
}

span.rank-img {
	float: right;
	width: auto;
}
